* {
    font-family: "Roboto Condensed";
}

.header-1 {
    background-image: url(../resources/Backgrounds/Estanteria.jpg);
    background-position: center;
    background-size: cover;
}

.h1 {
    font-family: "Fanwood Text";
}

.navbar {
    height: 40px;
}

.brand-img {
    width: 80px;
    height: 80px;
}

.redes i {
    color: black;
}

.carousel-inner {
    max-height: 39rem;
}

.main-container {
    background-color: #6c757d;
}

#makeaQuote {
    background-color: #6c757d;
}

.main-bienvenida h2 {
    font-family: "Fanwood Text";
}

.footer-style {
    background-image: url(../resources/Backgrounds/Estanteria.jpg);
    background-position: center;
    background-size: cover;
}

/*Estilos para form de contacto*/
.header {
    color: #212529;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #212529;
}



@media (max-width: 991.98px) {

    .brand-img {
        display: none;
    }

    .navbar {
        height: 60px;
    }
}

@media (max-width: 1199.98px) {}

/* MEDIA QUERIES BREAKPOINTS DE BOOTSTRAP
// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }

// `md` applies to small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { ... }

// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// `xl` applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }

// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) { ... }*/