* {
    font-family: 'Roboto Condensed';
}

/*VARIABLES*/
$paleta: (
'cuerpo': #6c757d,
'marcos': #212529,
'invalido': rgb(87, 87, 87),
'blanco': white );

$standar-font: 'Roboto Condensed';
$title-font: 'Fanwood Text';



/*ESTILOS PARA HEADER y FOOTER*/

.header-1 {
    background-image: url(../resources/Backgrounds/Estanteria.jpg);
    background-position: center;
    background-size: cover;
}

.footer-style {
    @extend .header-1;          
}

.h1 {
    font-family: $title-font;
}

.navbar {
    height: 40px;
}

#navbarSupportedContent {
    background-color: map-get($map: $paleta, $key: 'marcos');
    text-align: center;
}

.brand-img {
    width: 80px;
    height: 80px;
    &:hover {
        width: 90px;
        height: 90px;  
    }
}


/*ESTILOS PARA LOS MAIN*/

.main-container {
    background-color: map-get($map: $paleta, $key: 'cuerpo');
}

#main-about {
    @extend .main-container;
}

#main-contacto {
    @extend .main-container;
}

#main-read {
    @extend .main-container;
}

#makeaQuote {
    @extend .main-container;
}

.main-bienvenida h2 {
    font-family: $title-font;
}

/*Estilos para formularios*/

.header {
    color: map-get($map: $paleta, $key: 'marcos');
    font-size: 27px;
    padding: 10px;
}

.mail-cita .form-mail:invalid {
    background-color: map-get($map: $paleta, $key: 'invalido');
}

.subir-cita {
    color: map-get($map: $paleta, $key: 'blanco');
}

/*ESTILOS PARA CAROUSEL*/

.carousel-inner {
    max-height: 39rem;
}

/*MEDIA QUERIES*/
@media (max-width: 991.98px) {

    .brand-img {
        display: none;
    }

    .navbar {
        height: 60px;
    }

    .collapse {
        position: relative;
        z-index: 1;
    }

    .accordion-item {
        position: relative;
        z-index: 0;
    }

    .encabezado h1 {
    display: none;
    }

}


//MEDIA QUERIES BREAKPOINTS DE BOOTSTRAP
// `sm` applies to x-small devices (portrait phones, less than 576px)
//@media (max-width: 575.98px) { ... }

// `md` applies to small devices (landscape phones, less than 768px)
//@media (max-width: 767.98px) { ... }

// `lg` applies to medium devices (tablets, less than 992px)
//@media (max-width: 991.98px) { ... }

// `xl` applies to large devices (desktops, less than 1200px)
//@media (max-width: 1199.98px) { ... }

// `xxl` applies to x-large devices (large desktops, less than 1400px)
//@media (max-width: 1399.98px) { ... }